#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  gap: 2rem;
  align-content: space-between;
  padding-bottom: 2rem;
}

.searchResults>div {
  display: grid;
  grid-template-columns: repeat(auto-fill, 204px);
  grid-gap: 5rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 180px;
}

.logo>img {
  width: 120px;
}

h3 {
  font-weight: 700;
}