#root {
  /* max-width: 1440px; */
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 2rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 3%;
  padding: 0 1.5rem;
}

nav>* {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.body {
  height: 97%;
  padding-top: 1.5rem;
}

form {
  display: flex;
  gap: 2rem;
  align-content: space-between;
  justify-content: flex-start;
  padding: 0 1.5rem 2rem;
}

.searchResults>div {
  display: grid;
  grid-template-columns: repeat(auto-fill, 204px);
  grid-gap: 5rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 180px;
}

.logo>img {
  width: 120px;
}

h3 {
  font-weight: 700;
}

button:disabled:hover {
  cursor: default;
  animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-delay: 600ms;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}